In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
from sklearn import tree, ensemble, metrics, cross_validation, externals
%matplotlib inline

In [2]:
userhome = os.path.expanduser('~')
df = pd.read_csv(os.path.join(userhome,'Desktop','DS-SF-23','lending-club-loan-data','loan.csv'), index_col = 'id', low_memory=False)
%load_ext gvmagic

In [3]:
df.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# df[['annual_inc','loan_amnt']].plot(kind='box')

In [5]:
# mpl.rcParams['agg.path.chunksize'] = 10000

In [6]:
df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
count,8.873790e+05,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,8.873750e+05,887379.000000,887350.000000,887350.000000,...,21372.000000,18617.000000,21372.000000,21372.000000,21372.000000,21372.000000,8.171030e+05,21372.000000,21372.000000,21372.000000
mean,3.500182e+07,14755.264605,14741.877625,14702.464383,13.246740,436.717127,7.502759e+04,18.157039,0.314442,0.694623,...,36552.811389,71.535317,1.389060,2.975482,5887.979740,60.831939,3.206862e+04,0.943945,1.537058,1.977307
std,2.411335e+07,8435.455601,8429.897657,8442.106732,4.381867,244.186593,6.469830e+04,17.190626,0.862244,0.998448,...,43103.833619,23.022862,1.520129,2.631886,5284.701239,20.013254,3.749826e+04,1.446872,2.723339,2.874067
min,7.047300e+04,500.000000,500.000000,0.000000,5.320000,15.670000,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-4.000000
25%,1.087713e+07,8000.000000,8000.000000,8000.000000,9.990000,260.705000,4.500000e+04,11.910000,0.000000,0.000000,...,10251.500000,58.600000,0.000000,1.000000,2411.000000,47.700000,1.390000e+04,0.000000,0.000000,0.000000
50%,3.709528e+07,13000.000000,13000.000000,13000.000000,12.990000,382.550000,6.500000e+04,17.650000,0.000000,0.000000,...,24684.500000,74.900000,1.000000,2.000000,4483.000000,61.900000,2.370000e+04,0.000000,0.000000,2.000000
75%,5.847135e+07,20000.000000,20000.000000,20000.000000,16.200000,572.600000,9.000000e+04,23.950000,0.000000,1.000000,...,47858.000000,87.600000,2.000000,4.000000,7771.500000,75.200000,3.980000e+04,1.000000,2.000000,3.000000
max,7.354484e+07,35000.000000,35000.000000,35000.000000,28.990000,1445.460000,9.500000e+06,9999.000000,39.000000,33.000000,...,878459.000000,223.300000,22.000000,43.000000,127305.000000,151.400000,9.999999e+06,17.000000,35.000000,32.000000

In [7]:
len(df.columns)

73

In [19]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df1 = df.drop(['emp_title', 'url','title','policy_code','desc'], axis = 1, inplace = True)

ValueError: labels ['emp_title' 'url' 'title' 'policy_code' 'desc'] not contained in axis

In [124]:
df.columns

Index([u'member_id', u'loan_amnt', u'funded_amnt', u'funded_amnt_inv', u'term',
       u'int_rate', u'installment', u'grade', u'sub_grade', u'emp_length',
       u'home_ownership', u'annual_inc', u'verification_status', u'issue_d',
       u'loan_status', u'pymnt_plan', u'purpose', u'zip_code', u'addr_state',
       u'dti', u'delinq_2yrs', u'earliest_cr_line', u'inq_last_6mths',
       u'mths_since_last_delinq', u'mths_since_last_record', u'open_acc',
       u'pub_rec', u'revol_bal', u'revol_util', u'total_acc',
       u'initial_list_status', u'out_prncp', u'out_prncp_inv', u'total_pymnt',
       u'total_pymnt_inv', u'total_rec_prncp', u'total_rec_int',
       u'total_rec_late_fee', u'recoveries', u'collection_recovery_fee',
       u'last_pymnt_d', u'last_pymnt_amnt', u'next_pymnt_d',
       u'last_credit_pull_d', u'collections_12_mths_ex_med',
       u'mths_since_last_major_derog', u'application_type',
       u'annual_inc_joint', u'dti_joint', u'verification_status_joint',
       u'acc_now_delinq', u'tot_coll_amt', u'tot_cur_bal', u'open_acc_6m',
       u'open_il_6m', u'open_il_12m', u'open_il_24m', u'mths_since_rcnt_il',
       u'total_bal_il', u'il_util', u'open_rv_12m', u'open_rv_24m',
       u'max_bal_bc', u'all_util', u'total_rev_hi_lim', u'inq_fi',
       u'total_cu_tl', u'inq_last_12m'],
      dtype='object')

In [169]:
df.loan_status.value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [170]:
df['FullyPaid'] = (df.loan_status == 'Fully Paid') * 1.0

In [171]:
df['FullyPaid'].value_counts()

0.0    679656
1.0    207723
Name: FullyPaid, dtype: int64

In [ ]:
df.drop(['loan_status', '','title','policy_code','desc'], axis = 1, inplace = True)

In [172]:
df.verification_status.value_counts()

AttributeError: 'DataFrame' object has no attribute 'verification_status'

In [129]:
df['is_Verified'] = ((df.verification_status == 'Verified') | (df.verification_status == 'Source Verified')) * 1.0

In [130]:
df['is_Verified'].value_counts()

1.0    620629
0.0    266750
Name: is_Verified, dtype: int64

In [131]:
df.head(2)

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,FullyPaid,is_Verified
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0

In [132]:
df.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [133]:
df['term'] = df.term.str.replace('months', '')

In [134]:
df.term.unique()

array([' 36 ', ' 60 '], dtype=object)

In [135]:
df.head(2)

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,FullyPaid,is_Verified
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000.0,5000.0,4975.0,36,10.65,162.87,B,B2,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
1077430,1314167,2500.0,2500.0,2500.0,60,15.27,59.83,C,C4,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0

In [136]:
df.grade.unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [137]:
df['grade'] = df.grade.str.replace('A', '1')
df['grade'] = df.grade.str.replace('B', '2')
df['grade'] = df.grade.str.replace('C', '3')
df['grade'] = df.grade.str.replace('D', '4')
df['grade'] = df.grade.str.replace('E', '5')
df['grade'] = df.grade.str.replace('F', '6')
df['grade'] = df.grade.str.replace('G', '7')

In [138]:
df.head(2)

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,FullyPaid,is_Verified
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000.0,5000.0,4975.0,36,10.65,162.87,2,B2,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
1077430,1314167,2500.0,2500.0,2500.0,60,15.27,59.83,3,C4,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0

In [139]:
df.grade = pd.to_numeric(df.grade)

In [140]:
df.emp_length.unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', 'n/a'], dtype=object)

In [141]:
df.emp_length.value_counts()

10+ years    291569
2 years       78870
< 1 year      70605
3 years       70026
1 year        57095
5 years       55704
4 years       52529
n/a           44825
7 years       44594
8 years       43955
6 years       42950
9 years       34657
Name: emp_length, dtype: int64

In [142]:
df['emp_length'] = df.emp_length.str.replace('year', '')
df['emp_length'] = df.emp_length.str.replace('s', '')
df['emp_length'] = df.emp_length.str.replace('n/a', '0')
df['emp_length'] = df.emp_length.str.replace('< 1', '0.5')
df['emp_length'] = df.emp_length.str.replace('+', '')

In [143]:
df.emp_length.value_counts()

10      291569
2        78870
0.5      70605
3        70026
1        57095
5        55704
4        52529
0        44825
7        44594
8        43955
6        42950
9        34657
Name: emp_length, dtype: int64

In [144]:
df.emp_length = pd.to_numeric(df.emp_length)

In [145]:
df.head(2)

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,FullyPaid,is_Verified
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000.0,5000.0,4975.0,36,10.65,162.87,2,B2,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
1077430,1314167,2500.0,2500.0,2500.0,60,15.27,59.83,3,C4,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0

In [146]:
df.home_ownership.value_counts()

MORTGAGE    443557
RENT        356117
OWN          87470
OTHER          182
NONE            50
ANY              3
Name: home_ownership, dtype: int64

In [147]:
df[df.home_ownership == 'ANY']['loan_amnt']

id
26170263     5000.0
66544417    34300.0
55948695    24000.0
Name: loan_amnt, dtype: float64

In [151]:
df['is_FullyOwned'] = (df.home_ownership == 'OWN') * 1.0

In [152]:
df.is_FullyOwned.value_counts()

0.0    799909
1.0     87470
Name: is_FullyOwned, dtype: int64

In [153]:
df.head(2)

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,FullyPaid,is_Verified,FullyOwned,is_FullyOwned
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000.0,5000.0,4975.0,36,10.65,162.87,2,B2,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
1077430,1314167,2500.0,2500.0,2500.0,60,15.27,59.83,3,C4,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0

In [165]:
df.columns

Index([u'member_id', u'loan_amnt', u'funded_amnt', u'funded_amnt_inv', u'term',
       u'int_rate', u'installment', u'grade', u'sub_grade', u'emp_length',
       u'home_ownership', u'annual_inc', u'issue_d', u'loan_status',
       u'pymnt_plan', u'purpose', u'zip_code', u'addr_state', u'dti',
       u'delinq_2yrs', u'earliest_cr_line', u'inq_last_6mths',
       u'mths_since_last_delinq', u'mths_since_last_record', u'open_acc',
       u'pub_rec', u'revol_bal', u'revol_util', u'total_acc',
       u'initial_list_status', u'out_prncp', u'out_prncp_inv', u'total_pymnt',
       u'total_pymnt_inv', u'total_rec_prncp', u'total_rec_int',
       u'total_rec_late_fee', u'recoveries', u'collection_recovery_fee',
       u'last_pymnt_d', u'last_pymnt_amnt', u'next_pymnt_d',
       u'last_credit_pull_d', u'collections_12_mths_ex_med',
       u'mths_since_last_major_derog', u'application_type',
       u'annual_inc_joint', u'dti_joint', u'verification_status_joint',
       u'acc_now_delinq', u'tot_coll_amt', u'tot_cur_bal', u'open_acc_6m',
       u'open_il_6m', u'open_il_12m', u'open_il_24m', u'mths_since_rcnt_il',
       u'total_bal_il', u'il_util', u'open_rv_12m', u'open_rv_24m',
       u'max_bal_bc', u'all_util', u'total_rev_hi_lim', u'inq_fi',
       u'total_cu_tl', u'inq_last_12m', u'FullyPaid', u'is_Verified',
       u'FullyOwned', u'is_FullyOwned'],
      dtype='object')

In [161]:
df.drop(['verification_status'], axis = 1, inplace = True)

In [162]:
X = df[df.columns.values]
y = df.FullyPaid

In [166]:
X

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,FullyPaid,is_Verified,FullyOwned,is_FullyOwned
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000.0,5000.0,4975.000000,36,10.65,162.87,2,B2,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
1077430,1314167,2500.0,2500.0,2500.000000,60,15.27,59.83,3,C4,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
1077175,1313524,2400.0,2400.0,2400.000000,36,15.96,84.33,3,C5,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1076863,1277178,10000.0,10000.0,10000.000000,36,13.49,339.31,3,C1,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
1075358,1311748,3000.0,3000.0,3000.000000,60,12.69,67.79,2,B5,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
1075269,1311441,5000.0,5000.0,5000.000000,36,7.90,156.46,1,A4,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
1069639,1304742,7000.0,7000.0,7000.000000,60,15.96,170.08,3,C5,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1072053,1288686,3000.0,3000.0,3000.000000,36,18.64,109.43,5,E1,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
1071795,1306957,5600.0,5600.0,5600.000000,60,21.28,152.39,6,F2,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,1.0
1071570,1306721,5375.0,5375.0,5350.000000,60,12.69,121.45,2,B5,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
1070078,1305201,6500.0,6500.0,6500.000000,60,14.65,153.45,3,C3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,1.0
1069908,1305008,12000.0,12000.0,12000.000000,36,12.69,402.54,2,B5,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0
1064687,1298717,9000.0,9000.0,9000.000000,36,13.49,305.38,3,C1,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
1069866,1304956,3000.0,3000.0,3000.000000,36,9.91,96.68,2,B1,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
1069057,1303503,10000.0,10000.0,10000.000000,36,10.65,325.74,2,B2,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
1069759,1304871,1000.0,1000.0,1000.000000,36,16.29,35.31,4,D1,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1065775,1299699,10000.0,10000.0,10000.000000,36,15.27,347.98,3,C4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1069971,1304884,3600.0,3600.0,3600.000000,36,6.03,109.57,1,A1,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1062474,1294539,6000.0,6000.0,6000.000000,36,11.71,198.46,2,B3,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
1069742,1304855,9200.0,9200.0,9200.000000,36,6.03,280.01,1,A1,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1069740,1284848,20250.0,20250.0,19142.161077,60,15.27,484.63,3,C4,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
1039153,1269083,21000.0,21000.0,21000.000000,36,12.42,701.73,2,B4,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
1069710,1304821,10000.0,10000.0,10000.000000,36,11.71,330.76,2,B3,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0
1069700,1304810,10000.0,10000.0,10000.000000,36,11.71,330.76,2,B3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1069559,1304634,6000.0,6000.0,6000.000000,36,11.71,198.46,2,B3,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1069697,1273773,15000.0,15000.0,15000.000000,36,9.91,483.38,2,B1,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
1069800,1304679,15000.0,15000.0,8725.000000,36,14.27,514.64,3,C2,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1069657,1304764,5000.0,5000.0,5000.000000,60,16.77,123.65,4,D2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1069799,1304678,4000.0,4000.0,4000.000000,36,11.71,132.31,2,B3,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1047704,1278806,8500.0,8500.0,8500.000000,36,11.71,281.15,2,B3,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36691397,39434133,20000.0,20000.0,20000.000000,36,6.99,617.46,1,A3,2.0,...,NaN,NaN,39700.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36500819,39232937,10300.0,10300.0,10300.000000,60,13.66,237.86,3,C3,10.0,...,NaN,NaN,22000.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36743377,39486112,4200.0,4200.0,4200.000000,36,15.99,147.64,4,D2,10.0,...,NaN,NaN,20400.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36231083,38942474,15000.0,15000.0,15000.000000,36,11.99,498.15,2,B5,0.5,...,NaN,NaN,9700.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36371802,39103231,15000.0,15000.0,15000.000000,60,11.44,329.44,2,B4,4.0,...,NaN,NaN,26100.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36250801,38962184,6000.0,6000.0,6000.000000,36,17.86,216.50,4,D5,10.0,...,NaN,NaN,8500.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36331554,39042967,26950.0,26950.0,26950.000000,36,8.19,846.88,1,A5,0.0,...,NaN,NaN,129100.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36460697,39182359,23000.0,23000.0,23000.000000,60,15.59,554.32,4,D1,10.0,...,NaN,NaN,65600.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
35773415,38468842,18700.0,18700.0,18700.000000,60,17.86,473.44,4,D5,10.0,...,NaN,NaN,10200.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36440728,39152101,25000.0,25000.0,25000.000000,60,15.99,607.82,4,D2,3.0,...,NaN,NaN,18700.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
35591131,38288343,25000.0,25000.0,25000.000000,60,15.59,602.52,4,D1,0.0,...,NaN,NaN,24400.0,NaN,NaN,NaN,0.0,0.0,1.0,1.0
36361815,39093260,26500.0,26500.0,26500.000000,60,8.67,545.87,2,B1,10.0,...,NaN,NaN,118600.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36201871,38913321,21000.0,21000.0,21000.000000,36,6.03,639.15,1,A1,10.0,...,NaN,NaN,76300.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36381756,39013193,8000.0,8000.0,8000.000000,36,8.19,251.40,1,A5,9.0,...,NaN,NaN,7300.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36231724,38943173,12000.0,12000.0,12000.000000,36,9.49,384.34,2,B2,4.0,...,NaN,NaN,11900.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36231718,38943165,10775.0,10775.0,10775.000000,36,6.03,327.95,1,A1,0.5,...,NaN,NaN,41700.0,NaN,NaN,NaN,1.0,0.0,0.0,0.0
36381704,39013139,7000.0,7000.0,7000.000000,36,14.31,240.30,3,C4,10.0,...,NaN,NaN,9900.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36241316,38952731,6225.0,6225.0,6225.000000,36,16.49,220.37,4,D3,2.0,...,NaN,NaN,1800.0,NaN,NaN,NaN,1.0,1.0,0.0,0.0
36301729,39023153,10000.0,10000.0,10000.000000,36,6.49,306.45,1,A2,1.0,...,NaN,NaN,30300.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36250208,38961532,13150.0,13150.0,13150.000000,60,14.99,312.77,3,C5,8.0,...,NaN,NaN,20700.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36421485,39142898,4000.0,4000.0,4000.000000,36,8.67,126.59,2,B1,10.0,...,NaN,NaN,30100.0,NaN,NaN,NaN,1.0,1.0,0.0,0.0
35094480,37777829,7500.0,7500.0,7500.000000,36,9.49,240.22,2,B2,8.0,...,NaN,NaN,14500.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36260758,38972123,10850.0,10850.0,10850.000000,36,19.24,399.04,5,E2,0.0,...,NaN,NaN,16800.0,NaN,NaN,NaN,0.0,1.0,1.0,1.0
36330911,39042282,12000.0,12000.0,12000.000000,36,11.99,398.52,2,B5,0.5,...,NaN,NaN,30300.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36221446,38932858,11575.0,11575.0,11575.000000,36,15.59,404.61,4,D1,10.0,...,NaN,NaN,28100.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36371250,39102635,10000.0,10000.0,10000.000000,36,11.99,332.10,2,B5,8.0,...,NaN,NaN,17100.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36441262,39152692,24000.0,24000.0,24000.000000,36,11.99,797.03,2,B5,10.0,...,NaN,NaN,10200.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36271333,38982739,13000.0,13000.0,13000.000000,60,15.99,316.07,4,D2,5.0,...,NaN,NaN,18000.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36490806,39222577,12000.0,12000.0,12000.000000,60,19.99,317.86,5,E3,1.0,...,NaN,NaN,27000.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0
36271262,38982659,20000.0,20000.0,20000.000000,36,11.99,664.20,2,B5,10.0,...,NaN,NaN,41700.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0

In [163]:
train_X, test_X, train_y, test_y = cross_validation.train_test_split(X, y, test_size = 0.4)

In [164]:
model = ensemble.RandomForestClassifier(n_estimators = 1000, max_features = 4, min_samples_leaf = 5, oob_score = True)

model.fit(train_X, train_y)

ValueError: could not convert string to float: Verified